.list-group-item {
    display: flex;
    height: 7vh;
    align-items: center;
}

.btn-delete {
    height: 5vh;
}

.checkbox {
    height: 4vh;
    width: 4vh;
    padding-right: 1vh;
}

.checkbox-item {
    height: 100%;
    width: 100%;
}

.checked {
    background-color: grey;
}

.expire_date {
    width: 20%;
    margin-right: 2%;
}

.content {
    width: 70%;
    margin-right: 2%;
}

.btn-date {
    height: 5vh;
}

.btn-add {
    width: 100%;
}

.add {
    width: 4vh;
    height: 4vh;
    padding-right: 1vh;
    padding-top: 0.5vh;
}

.priority {
    width: 15%;
}

.page {
    padding-top: 2vh;

}

.pagination {
    justify-content: center;
}

.btn-group {
    justify-content: center;
    display: flex;
    margin-top:2vh;
    margin-bottom:2vh;
}